.auth {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    margin-top: -30px;
}

.typeIn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.form {
    display: flex;
    flex-direction: column;
    gap: 25px;
    margin-top: 25px;
    margin-bottom: 25px;
}