.login {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 25px;
    margin-bottom: 20px;
    /* border: 1px solid red; */
    flex-grow: 1;
}

.loginButton {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 350px;
    height: 40px;
    flex-wrap: wrap;
    border-radius: 10px;
    background-color: var(--btn);
    cursor: pointer;
    text-decoration: none;
}

.loginButton p {
    font-size: 1.2em;
    color: var(--text);
    font-weight: bold;
}
